<html>
<head>
	<title>Andrew Lobos</title>
	<link href="stylesheets/style.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="navbar">
			<a href="/"><div class="navbar-name">Admin</div></a>
			
			<div class="navbar-items">
				<a href="/admin/code"><span class="navbar-item">code</span></a><a href="/admin/blog"><span class="navbar-item">blog</span></a></a>
			</div>

			
			<div class="content">
				<br><br>
				
			</div>
		</div>
	</div>
</body>