{{ partial "header.html" }}
    {{ range .Data.Pages.ByDate.Reverse }}
            <div>
                <a href="{{ .Permalink }}"><h2>{{ .Title }}</h2></a>
                {{ if isset .Params "image" }}<img class="preview" src="{{ .Params.image }}"></img>{{ end }}
                <p>
                    {{.Summary}}
                </p>
                <a class="btn" href="{{ .Permalink }}">Read more</a>
                <div style="clear: both;"></div> 
            </div>
    {{ end }}
{{ partial "footer.html" }}