<html>
<head>
	<title>Andrew Lobos</title>
	<link href="/stylesheets/style.css" rel="stylesheet">
	<link href="/stylesheets/blog.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="navbar">
			<a href="/"><div class="navbar-name">Andrew Lobos</div></a>
			
			<div class="navbar-items">
				<a href="/code"><span class="navbar-item">code</span></a><a href="/blog"><span class="navbar-item selected">blog</span></a><a href="/resume"><span class="navbar-item">r&eacute;sum&eacute;</span></a>
			</div>

			
			<div class="content">
				<div class="post">
					<h1 class="post-title"><%= post.title %></h1>
					<p class="post-content"><%- markdown.toHTML(post.content) %></p>
					<small>Posted by Andrew on <%= post.posted_at.getMonth()+"/"+post.posted_at.getDay()+"/"+post.posted_at.getYear() %></small>
				</div>
			</div>
		</div>
	</div>
</body>