<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <title>
            Andrew Lobos
        </title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>

    <body>
        <header>
            <span>
                <a href="/post">Blog</a>
                <a href="/projects">Projects</a>
            </span>
            <a href="/"><h1>Andrew Lobos</h1></a>
            <hr>
        </header>
