<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <title>
            Andrew Lobos
        </title>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>

    <body>
        <header>
            <a href="/" class="name">Andrew Lobos</a>
            <span>
                <a href="/post">Blog</a>
                <a href="/project">Projects</a>
            </span>
            <hr>
        </header>
